${header_comment}

#ifndef __${CAST_MACRO(error_domain)}_H__
#define __${CAST_MACRO(error_domain)}_H__

#include <glib-object.h>

G_BEGIN_DECLS

#define ${CAST_MACRO(error_domain)} g_quark_from_static_string("${error_domain_prefix}_quark")

enum ${type_name(error_domain)} {

:> for each code in error_domain.error_codes do
	:> if [ not isLast ] then begin
		:> if [ not isFirst ] then begin
	${CAST_MACRO(error_domain)}_${code},
		:> else
	${CAST_MACRO(error_domain)}_${code} = 1,	
		:> endif
	:> else	
		:> if [ not isFirst ] then begin
	${CAST_MACRO(error_domain)}_${code}
		:> else
	${CAST_MACRO(error_domain)}_${code} = 1
		:> endif
	:> endif
:> done 
    
};

G_END_DECLS

#endif /* __${CAST_MACRO(error_domain)}_H__ */